body{

  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 562.5%;
  margin-top: 50;
  line-height: 2;
  font-family: 'Berkshire Swash', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
  color: #66BFBF;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

hr{
  border-style: dotted none none;
  width:40px;
  border-width: 6px;
  border-color: #00a1ab;
  margin:100px auto;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill1{
  height:25%;
  width:25%;
  float: left;
  margin-right: 30px;
}

.skill2{
  height:25%;
  width:25%;
  float: right;
  margin-left: 30px;
}


.pro{
  height:15%;
  width: 15%;
}

.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  width: 50%;
}

.top-container{
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.top-bird{

}

.bottom-bird{
  
}

.bio{
  width:30%;
  margin: auto;
}

.middle-container{
  margin: 100px 0;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top:  40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.bottom-container{
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #71c9ce;
}

.myButton {
	box-shadow: 0 1px 0 0 #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 -1px 0 #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
